
<% if user_signed_in? %>
    <%= button_to "Log Out", 'users/sign_out', method: :delete %>
<% else %>
    <%= button_to "Log In", 'users/sign_in', method: :get %>
    <%= button_to "Sign Up", 'users/sign_up', method: :get %>
<% end %>

<% if user_signed_in? %>
    <p style="color: green"><%= notice %></p>

    <h1>Short links</h1>

    <div id="short_links">
    <% @short_links.each do |short_link| %>
        <%= render short_link %>
        <p>
        <%= link_to "Show this short link", short_link %>
        </p>
    <% end %>
    </div>

    <%= link_to "New short link", new_short_link_path %>
<% end %>