<div class="w-full max-w-xs">

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email, class:"block text-gray-700 text-sm font-bold" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"shadow appearance-none border rounded text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-8" %>
    </div>

    <div class="field">
      <%= f.label :password, class:"block text-gray-700 text-sm font-bold" %><br />
      <%= f.password_field :password, autocomplete: "current-password", class:"shadow appearance-none border rounded text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-8" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me? %>
      </div>
    <% end %>

    <div class="actions">
      <%= button_to f.submit "Log in", class: "bg-sky-500 hover:bg-sky-700 text-white font-bold py-2 px-4 rounded mt-4 mb-4" %>
    </div>
  <% end %>

  <%= link_to "Forgot your password?", new_password_path(resource_name), class: "hover:underline" %>

</div>
