<%= form_with(model: short_link) do |form| %>
  <% if short_link.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(short_link.errors.count, "error") %> prohibited this short_link from being saved:</h2>

      <ul>
        <% short_link.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div>
    <%= form.label :url, style: "display: block", class:"block text-gray-700 text-sm font-bold" %>
    <%= form.text_field :url, class:"shadow appearance-none border rounded text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-8" %>
  </div>

  <div>
    <%= form.label :expiration_date, style: "display: block", class:"block text-gray-700 text-sm font-bold" %>
    <%= form.date_field :expiration_date, min: Date.today+1, class:"shadow appearance-none border rounded text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-8" %>
  </div>

  <div>
    <%= form.label :password, style: "display: block", class:"block text-gray-700 text-sm font-bold" %>
    <%= form.password_field :password, class:"shadow appearance-none border rounded text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-8" %>
  </div>

  <div>
    <%= form.label :usages, style: "display: block", class:"block text-gray-700 text-sm font-bold" %>
    <%= form.number_field :usages, min: 0, max: 100, class:"shadow appearance-none border rounded text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-8" %>
  </div>

  <div>
    <% if is_edit == true %>
      <%= button_to form.submit "Edit short link", class: "bg-sky-500 hover:bg-sky-700 text-white font-bold py-2 px-4 rounded mt-4" %>
    <% else %> 
      <%= button_to form.submit "Create short link", class: "bg-sky-500 hover:bg-sky-700 text-white font-bold py-2 px-4 rounded mt-4" %>
    <% end %> 
    <%= button_to "Back", root_path, method: :get, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4" %> 
  </div>
<% end %>
