<p style="color: green"><%= notice %></p>

<%= render @short_link %>

<div>
  <%= button_to "Edit", edit_short_link_path(@short_link), method: :get, class: "bg-sky-500 hover:bg-sky-700 text-white font-bold py-2 px-4 rounded" %>
  <%= button_to "Back", root_path, method: :get, class: "bg-sky-500 hover:bg-sky-700 text-white font-bold py-2 px-4 rounded" %>

  <%= button_to "Delete", @short_link, method: :delete, class: "bg-sky-500 hover:bg-sky-700 text-white font-bold py-2 px-4 rounded" %>
</div>
