<div>
    <div class="flex items-center text-center justify-center">
        <h1 class="text-2xl font-bold underline text-center mr-5">http://chq.to/l/<%= @short_link.short_url %> reports</h1>
        <%= button_to root_path, method: :get, class: 'float-left ml-6' do %>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-7 h-7 text-sky-500 hover:text-sky-700">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3" />
            </svg>
        <% end %>
    </div>

    <%= search_form_for @q, url: "#{@short_link.id}", class: "text-center mt-4 mb-2" do |f| %>
        <div class= "mt-2">
            <%= f.search_field :ip_cont, placeholder: "Ip Address" %>
            <%= f.search_field :user_agent_cont, placeholder: "User agent" %>
        </div>
        <div class= "mt-2">
            <%= f.date_field :date_gteq, placeholder: "Start date" %>
            <%= f.date_field :date_lteq, placeholder: "End date" %>
        </div>

        <%= f.button "Search", type: "submit", :class=> "mt-2 bg-sky-500 hover:bg-sky-700 text-white font-bold py-2 px-4 rounded" %>
    <% end %>

    <div class="flex items-center text-center justify-center">
        <table class="table-fixed w-4/6 bg-white-500 border-collapse border-spacing-1 border-collapse border border-slate-500 mt-2">
            <thead class="bg-sky-400">
                <tr>
                    <th class="border border-slate-600">IP Address</th>
                    <th class="border border-slate-600"><%= link_to "Date", :sort => "date"%></th>
                    <th class="border border-slate-600">Time</th>
                    <th class="border border-slate-600">User Agent</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <%= render "reports", reports: @reports %>
                </tr>
            </tbody>
        </table>
    </div>
</div>